

body {
  font-family: Arial, sans-serif;
  background: grey;
  color: #222;
  margin: 0;
  padding: 0;
}
h1,h2,p{
  color:white;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
  background: black;
  padding: 24px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
  border-radius: 8px;
}
 a {
  margin-right: 12px;
  color: #1a73e8;
  text-decoration: none;
}
 a:hover{

    color:grey;
    text-decoration:none;
}
button{
  background-color:blue;
  color:white;

}


form input, form select, form button {
  display:block;
  margin:8px 0;
  padding:8px;
  width:100%;
  max-width: 480px;
}
